body {
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    margin: 0;
}

header {
    background: #0575E6; 
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  
    background: linear-gradient(to right, #021B79, #0575E6); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
}

.Header {
    color: white;
    text-decoration: none;
}

.logotipo {
    display: flex;
    align-items: center;
    color: white;
}

.logotipo img {
    height: 100px;
    margin-right: 10px;
}

.header {
    margin-right: 20px;
    font-weight: 550;
}

nav a:hover {
    color: black;
}

@media (max-widht:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

#title {
    margin-right: 15px;
}

p {
    font-size: large;
}

#imagenes {
    width: 65%;
    justify-content: right;
}

#cartas {
    display: flex;
    width: 100%;
    height: auto;
}

#suscribete {
    background: #BA5370;  /* fallback for old browsers */
    background: linear-gradient(to right, #F4E2D8, #bfb1fd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
}

#conocenos {
    text-align: center;
}